$bg-base: #1b1b1f;
$bg-dark: #161619;

$box-black: #131314;

$text-gray: #9da6b0;
$text-black: #3e3b3b;

$white: #ffffff;
$gray: #dddcdd;
$green: #22b573;

$purple-light: #b47dbd;
$purple: #a144c1;
$purple-dark: #792e9c;

$modal-dark: #212122;
