.dashboard-page {
  margin-left: 5rem;
  margin-right: 5rem;
}

.dashboard-panel {
  margin-top: 2rem;
  margin-left: 2rem;
}

.dashboard-search-container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  text-align: center;
}

.dashboard-search-icon {
  filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
  margin-right: 1rem;
}

.dashboard-user {

  &__profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 7px;
    border: 1px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    cursor: pointer;
  }

  &__wallet {

    &-clipboard {
      cursor: pointer;
      margin-right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 99px;
      display: flex;
      background-color: white;
      padding: 2px;
      // mx-3 bg-white rounded-full h-8 w-8 shadow-md border flex items-center justify-center cursor-pointer filter active:brightness-95
    }

    &-short-address {
      font-family: ui-monospace, SFMono-Regular, Menlo, 'Courier New', monospace;
    }
  }

  &__table {

    border: solid 1px grey;
    margin-left: auto;
    margin-right: auto;
    // border border-purple-figma w-full mx-auto dark:invert

    &__header {
      border: dashed 1px grey;
      padding: 15px 15px 15px 15px;
      border-bottom: solid 3px grey;
      font-weight: bold;
      cursor: pointer;
    }

    &__cell {
      border: dashed 1px grey;
      padding-right: 25px;
      padding-left: 25px;
      text-align: center;
    }
  }

  &__nav {
    &-container {
      margin-top: 1rem;
      text-align: center;
      // mt-5 mx-auto text-center
    }

    &-list {
      display: inline-flex;
      // inline-flex -space-x-px
    }

    &-btn-first {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-left: 0px;
      line-height: 1.25;
      color: grey;
      background-color: white;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;     

      &:hover {

      }

      // py-2 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 
      // dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
    }

    &-btn-prev {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      line-height: 1.25;
      color: grey;
      background-color: white;
      // py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
    }

    &-btn-next {
      // py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
    }

    &-btn-last {
      // py-2 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white
    }

    &-btn-page-number {
      // py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white

      &--active {
        // py-2 px-3 leading-tight text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white
      }
    }
  }
}
