.makeMeInvisible {
  display: none;
}

/* Styles for the input */
div.ReactTags__tagInput {
  width: 120px;
  display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  margin-left: 3px;
  height: 25px;
  font-size: 12px;
  width: 100%;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0 3px;
  cursor: move;

}
div.ReactTags__selected .ReactTags__remove {
  color: #aaa;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  border: none;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0,0,0,.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}